# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Ambientes virtuais
# =========================
.venv/
.venv-dml
venv/
env/
ENV/

# =========================
# Build / Distribuição
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# PyInstaller
# =========================
*.spec
# (se quiser versionar o dubberpro.spec, remova a linha acima)

# =========================
# Cache e logs
# =========================
.pytest_cache/
.mypy_cache/
.cache/
*.log

# =========================
# Ferramentas e IDEs
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# Sistema Operacional
# =========================
.DS_Store
Thumbs.db

# =========================
# Outros
# =========================
.python-version
